.App {
  font-family:cursive;
  color: white;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  background: linear-gradient(45deg, rgb(93, 91, 91), black);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom  */

h2{
font-family: cursive;

}
.icon{
  color: white;
  align-items: left;
  margin-right: 7px;
  height: 3vh
}


h1{
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 400;
}

h3{
  text-align: center;
}

.site-header{
  display: flex;
  align-items: center;
  justify-content: flex-end;
height: 10vh;
background-color: black;
background: linear-gradient(45deg, rgb(93, 91, 91), black) ;
}

.navigation a{
  text-align: end;
  color: orange;
  font-size: 1.5em;
  text-decoration: none;
  padding: 14px 16px;
  
}

.navigation a:hover{
  background-color: white;
}

.contact-nav{
  margin: 10px;
}
.my-project-nav{
  margin: 10px;
}
.about-me-nav{
  margin: 10px;
}

#resume{
 position: absolute;
 margin-left: 0;
 align-self: flex-start;

}

.resume-link{
  position: absolute;
  left: 10px;
  top: 8px;
  padding: 5px 20px;
  text-align: left;
  color:black;
  background-color:orange;
  font-size: 1em;
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 0;
  box-shadow: 0 5px grey;
}
.resume-link:hover{background-color: blanchedalmond;
  cursor: pointer;
}

.resume-link:active{
  background-color:blanchedalmond;
  box-shadow: 0 5px rgb(25, 25, 25);
  transform:translateY(5px);
}

.about-me {
  margin-top: 20px;
  display: inline-block;
}

.about-me-container{
  width: 60vw;
  align-items: center;
  text-align: justify;
  margin-left: 0%;
}

.about-me-image{
flex-basis: 40%;
margin-top: 5%;
}

img {
  height: 40vh;
  max-width: 100%
}

.about-me-special {
    display: flex;
    align-items: center;
    justify-content: center
  }

.about-me-special2 {
  padding-left: 20px;
}

.about-me-special3{
  text-align: left;
}

.projects {
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
}

.project-p{
font-size: 15px;
}

.project-text{
  padding-top: 20px;
}

.projectimage{
  flex-basis: 40%
}

#project-1{
  align-self: center;
  height: 20rem;
  width: 20rem;
}

#project-2{
  margin-right: 30px;
  margin-left: 30px;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 20rem;
  
}

#project-3{
  margin-right: 30px;
  margin-left: 30px;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 20rem;
  

}
#project-4{
  background-color: #0000;
  margin-right: 30px;
  margin-left: 30px;
  align-items: center;
  justify-content: center;
  width: 40%;
  height:auto;
}

.project-1-animation{float: left;
  
}

#contact{
  margin-top: 100px;
  margin-bottom: 10%;
  align-self: center;
  align-items: flex-start;
  

}
.contact-me{

  margin-bottom: 30%;
  text-align: center;
  
  
}

fieldset{ background-color: orange; border: 5px solid grey
  ; border-radius: 20px; margin-bottom: 5px; width: 400px;
margin: auto; height: 200px;
}

fieldset input{text-align: left;

}

textarea[type = text] {
  width: 100%; height: max-content;
  padding: 10px 15px;
  margin: 5px 0;
  box-sizing: border-box;
}
legend{ 
  background-color: rgb(59, 44, 29); 
  border-radius: 10px; 
  color:white;
  border: 2px solid grey; 
  width: 100px;
  }

legend span{
  display: block;
}

.submit-btn {
  padding: 5px 20px;
  text-align: center;
  color: white;
  background-color:rgb(59, 44, 29);
  font-size: 1em;
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 0;
  box-shadow: 0 5px grey;
}

.submit-btn :hover{background-color: blanchedalmond;
  cursor: pointer;

}.submit-btn:active{
  background-color:blanchedalmond;
  box-shadow: 0 5px rgb(25, 25, 25);
  transform:translateY(5px);
}

.site-footer{
margin-top: 10px;
text-align: center;


}
.navigation-footer a{
  text-align: end;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  padding: 14px 16px;
}

.icon-footer{
  color: white;
  align-items: left;
  margin-right: 7px;
  height: 3vh;
}

.links{
  color: white;
}







